.wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 12px;
}

.field {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #111111;
}

.value {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #111111;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.logo {
  width: 20px;
  height: 20px;
}
