.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	height: 24px;
	margin-bottom: 8px;
}

.field {
	width: 56px;
	font-size: 12px;
	line-height: 16px;
	display: flex;
	letter-spacing: 0.04em;

	color: var(--color-main);
}

.value {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.04em;
	margin-left: 19px;
	color: var(--color-main);
}
.Input {
	margin-left: 0;
	width: 160px;
	height: 24px;
	padding: 4px 18px;
	color: var(--color-main);
	background: var(--color-input);
	border: 1px solid rgba(245, 146, 86, 0.5);
	border-radius: 40px;
	letter-spacing: 0.04em;
}
.button {
	display: flex;
	justify-content: center;
	background-color: transparent;
	margin-left: auto;
}

.logo {
	width: 20px;
	height: 20px;
	fill: #f59256;
}
.inputBox {
	position: relative;
}
.inputBox ul {
	padding: 10px 10px;
	font-size: 12px;
	max-height: 150px;
}

.inputBox ul li {
	font-size: 12px;
}
@media screen and (min-width: 768px) {
	.wrapper {
		width: auto;

		margin-bottom: 15px;
	}

	.field {
		width: 83px;

		font-size: 18px;
		line-height: 25px;
	}

	.value {
		margin-left: 26px;
		font-size: 18px;
		line-height: 25px;
		width: 250px;
	}
	.Input {
		font-weight: 400;
		font-size: 18px;
		line-height: calc(25 / 18);
		margin-left: 13px;
		width: 216px;
		height: 32px;
		padding: 4px 12px;
	}
	.logo {
		width: 32px;
		height: 32px;
	}
}

@media screen and (min-width: 1280px) {
	.wrapper {
		width: 100%;
	}
	.value {
		width: auto;
	}
}
