.SearchContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding-top: 42px;
}

@media screen and (min-width: 768px) {
	.SearchContainer {
		padding-top: 92px;
	}
}

@media screen and (min-width: 1280px) {
	.SearchContainer {
		padding-top: 59px;
	}
}

.SearchTitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.37;

	color: var(--color-main);
}
@media screen and (min-width: 768px) {
	.SearchTitle {
		font-size: 48px;
		line-height: 1.37;
	}
}

.SearchInput {
	display: flex;
	align-items: center;

	height: 40px;
	width: 280px;
	margin-top: 28px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: var(--bg-input-modal);
	border-radius: 20px;
	box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
	line-height: 1.37;
	letter-spacing: 0.04em;
	color: var(--color-text);
}

@media screen and (min-width: 768px) {
	.SearchInput {
		height: 44px;
		width: 608px;
		margin-top: 40px;

		border-radius: 40px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 20px;
		line-height: 1.35;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px var(--bg-input-modal) inset;
	-webkit-text-fill-color: rgba(0, 0, 0);
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.SearchForm {
	position: relative;
}

.SearchBtn {
	position: absolute;
	top: 28px;
	right: 0px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	fill: var(--color-main);
	background-color: transparent;
}
@media screen and (min-width: 768px) {
	.SearchBtn {
		top: 40px;
		width: 44px;
		height: 44px;
		background-size: 18px 18px;
	}
}
