.wrapper {
  width: 100vw;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container {
  max-width: 1275px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.align_container {
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
}

h1 {
  text-align: center;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 732px;
  }
  .align_container {
    margin-left: 0px;
  }
}
@media screen and (max-width: 770px) {
  h1 {
    font-size: 24px;
    line-height: 33px;
  }
  .align_container {
    margin-left: 0;
    flex-direction: column;
  }
  .container {
    max-width: 280px;
  }
}
