.list {
	margin-top: 26px;
	margin-bottom: 20px;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--modal-bg);
	padding: 16px 20px 0px;
	box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
	border-radius: 40px;
	margin-bottom: 20px;
}

.card:last-child {
	margin-bottom: 40px;
}

.petPhoto {
	width: 240px;
	border-radius: 20px;
	object-fit: cover;
}

.petInfo {
	margin: 20px 0px 40px;
	width: 240px;
	display: flex;
	flex-direction: column;
}

.deleteBtn {
	position: absolute;

	top: 20px;
	right: 20px;

	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: transparent;
	border: 0;

	background-image: url("../../images/svg/bin.svg");
	background-repeat: no-repeat;
	background-position: center;
	transition: var(--transition);
}

.deleteBtn:hover,
.deleteBtn:focus {
	background-image: url("../../images/svg/bin-hover.svg");
}

.petInfoCategory {
	margin-bottom: 12px;

	line-height: 1.38;
	white-space: normal;

	display: block;
	align-items: top;
	letter-spacing: 0.04em;
}

.petInfoTitle {
	font-weight: 600;
	margin-right: 5px;
}

.noPets {
	text-align: center;
	padding: 40px 0;
}

@media screen and (min-width: 768px) {
	.list {
		margin-top: 24px;
	}

	.card {
		flex-direction: row;
		align-items: flex-start;
		padding: 20px;
	}

	.card:last-child {
		margin-bottom: 20px;
	}

	.petPhoto {
		width: 161px;
	}

	.petInfo {
		width: 100%;
		margin: 0px 0px 0px 32px;
	}

	.deleteBtn {
		background-color: var(--bg);
	}

	.petInfoCategory {
		font-size: 16px;
	}
}

@media screen and (min-width: 1280px) {
	.card {
		margin-bottom: 22px;
	}
}
