.Container {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 320px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .Container {
    padding: 0 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .Container {
    padding: 0 16px;
    width: 1280px;
  }
}
