.Backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(17, 17, 17, 0.6);
	backdrop-filter: blur(10px);
	visibility: visible;
	pointer-events: initial;
	transition: var(--transition);
	z-index: 1000;
}

.Content {
	position: relative;
	width: 280px;
	max-height: 100%;
	background: var(--modal-bg);
	border-radius: 20px;
	overflow: auto;
}
.Content::-webkit-scrollbar {
	width: 0;
}
.Btn_close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 34px;
	height: 34px;
	background-color: var(--bg);
	background-image: url(../../images/svg/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	transition: var(--transition);
}

.Btn_close:hover {
	background-color: var(--btn-bg-hover-active);
}

@media screen and (min-width: 768px) {
	.Btn_close {
		top: 24px;
		right: 24px;
		width: 44px;
		height: 44px;
	}
	.Content {
		min-width: 608px;
		border-radius: 40px;
	}
}
