.Backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(17, 17, 17, 0.6);
	backdrop-filter: blur(10px);
	opacity: 1;
	visibility: visible;
	pointer-events: initial;
	transform: scale(1);
	transition: var(--transition);
	z-index: 1000;
	overflow: scroll;
}

.Content {
	position: relative;
	padding: 40px 20px;
	width: 280px;
	height: auto;
	background: var(--modal-bg);
	border-radius: 20px;
}

.Btn_close {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 44px;
	height: 44px;
	background-color: var(--bg);
	background-image: url(../../images/svg/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	transition: var(--transition);
}
@media screen and (min-width: 768px) {
	.Btn_close {
		width: 44px;
		height: 44px;
	}
}

.Btn_close:hover {
	background-color: var(--btn-bg-hover-active);
}

@media screen and (min-width: 768px) {
	.Content {
		/* padding: 40px 80px; */
		width: 704px;
		height: auto;
		border-radius: 40px;
	}
}
