.logoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 42px;
}
@media screen and (min-width: 768px){
    .logoWrapper {
            width: 94px;
            height: 48px;
        }
}