.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 454;
}
@media screen and (min-width: 768px) {
  .Btn {
    margin-left: 20px;
  }
}
