.wrapper {
	padding: 20px 12px 20px 16px;
	background: var(--modal-bg);
	box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
	border-radius: 20px;
}

.imgBlock {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 36px;
}

.imgWrap {
	width: 233px;
	height: 233px;
	margin-bottom: 12px;
	border-radius: 50%;

	overflow: hidden;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.InputWrapper {
	position: relative;
	margin-left: auto;
}

.InputFile {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}
.InputFile::-webkit-file-upload-button {
	cursor: pointer;
}

.editPhoto {
	display: flex;
	align-items: center;
	color: var(--color-main);
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	margin-right: 12px;
	background-color: transparent;
}

.editPhotoIcon {
	width: 20px;
	height: 20px;

	margin-right: 4px;
}

@media screen and (min-width: 768px) {
	.wrapper {
		position: relative;
		left: -32px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		width: 736px;
		padding: 24px 40px 24px 32px;
		border-radius: 0px 40px 40px 0px;
		margin-bottom: 0px;
	}
	.userInfo {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.imgWrap {
		margin-bottom: auto;
	}
	.imgBlock {
		margin-bottom: 0px;
	}
}

@media screen and (min-width: 1280px) {
	.imgBlock {
		position: relative;
		margin-bottom: 36px;
	}
	.wrapper {
		position: relative;
		left: 0;
		flex-direction: column;
		width: 411px;
		padding: 20px 16px 40px;
	}
	.InputWrapper {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}
