.imgWrap {
  width: 233px;
  height: 233px;
  margin-bottom: 12px;
  border-radius: 50%;

  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.editPhoto {
  margin-left: auto;
  margin-bottom: 36px;
}

.editPhotoIcon {
  width: 20px;
  height: 20px;
}
