.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 28px;
  width: 184px;
  height: 44px;
  font-size: 20px;
  letter-spacing: 0.04em;
  border-radius: 40px;
  background-color: var(--btn-bg-another);
  color: var(--btn-color-hover-active);
  transition: var(--transition);
}
@media screen and (max-width: 767px) {
  .btn {
    height: 35px;
    padding: 0 36px;
  }
}
.btnBg {
  background: inherit;
}
.icon {
  margin-right: 20px;
}
