.wrapper {
	border-radius: 50%;
	padding: 10px;
	margin-left: 20px;
	background: inherit;
	transition: var(--transition);
}
@media screen and (min-width: 768px) {
	.wrapper {
		margin-left: 40px;
	}
}
.icon {
	fill: var(--color-main);
	width: 24px;
	height: 24px;
	transition: var(--transition);
}
.icon:hover,
.icon:focus {
	fill: var(--color-input);
}
.wrapper:hover,
.wrapper:focus {
	background: var(--color-hover-active);
}
