.wrapper {
  border-radius: 50%;
  padding: 10px;
  margin-left: 80px;
  background: inherit;
  transition: var(--transition);
}
@media screen and (max-width: 768px) {
  .wrapper {
    margin-right: 30px;
  }
}
.icon {
  fill: #000;
  width: 24px;
  height: 24px;
  transition: var(--transition);
}
.icon:hover,
.icon:focus {
  fill: #fff;
}
.wrapper:hover,
.wrapper:focus {
  background: var(--color-hover-active);
}
