.button {
	display: flex;
	align-items: center;
	margin-left: auto;
	font-weight: 400;
	margin-top: 0;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.04em;
	color: var(--color-date);
	background-color: transparent;
}

.logo {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

@media screen and (min-width: 768px) {
	.button {
		align-self: start;
		margin-top: 33px;
		margin-left: 0;
	}
}
