.button {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: rgba(17, 17, 17, 0.6);

  background-color: transparent;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
