.Wrapper {
  text-align: center;
}
.header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  margin: 40px 0 28px;
}
.text {
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
.radioWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.radio {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 28px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 40px;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 19px;
  border: 2px solid var(--btn-bg-another);
  cursor: pointer;
}
.radio:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .radio {
    font-size: 20px;
    line-height: 27px;
  }
}
.input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.radio:hover,
.radio:focus {
  background-color: var(--btn-bg-another);
  color: #fff;
}
.textFildWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
}

.radio > input:checked ~ .radio {
  background-color: var(--btn-bg-another);
  color: #fff;
}
.inputText {
  width: 100%;
  height: 40px;
  padding: 12px 14px;
  background: #fdf7f2;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
}
.label {
  margin-bottom: 8px;
}
.submitBtnWrapp {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .submitBtnWrapp {
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.errorMsg {
  color: red;
  text-align: left;
}
.submitBtn {
  width: 240px;
  height: 40px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  background-color: #fff;
  color: #111;
  border: 2px solid #f59256;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.submitBtn:hover,
.submitBtn:active,
.submitBtn:focus {
  background-color: #f59256;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .submitBtn {
    width: 180px;
    height: 44px;
  }
}
/* StepTwo */
.sexWrap {
  display: flex;
  margin-bottom: 40px;
}
.sexLabel {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sexLabel:not(:last-child) {
  margin-right: 95px;
}
.sexIcon {
  width: 40px;
  height: 40px;
  content: url('../../images/sex-male.png');
  margin-bottom: 23px;
}
.sexIconFemale {
  width: 40px;
  height: 40px;
  content: url('../../images/sex-female.png');
  margin-bottom: 23px;
}
.inputSex {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sexLabel > input:checked ~ .sexText {
  color: var(--color-hover-active);
}
.sexM {
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 31px;
  margin-right: auto;
}
.sexText {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.avatarLabel {
  position: relative;
  margin-bottom: 28px;
  width: 116px;
  height: 116px;
}
@media screen and (min-width: 768px) {
  .avatarLabel {
    width: 140px;
    height: 140px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .avatarLabel {
    margin-bottom: 18px;
  }
}
.addImage {
  width: 116px;
  height: 116px;
  background: #fdf7f2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointe;
}
@media screen and (min-width: 768px) {
  .addImage {
    width: 140px;
    height: 140px;
  }
}
.selectedAvatar {
  width: 116px;
  height: 116px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .selectedAvatar {
    width: 140px;
    height: 140px;
  }
}

.inputFile {
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  display: none;
}
