.Wrapper {
  text-align: center;
}
.header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  margin: 40px 0 28px;
}
.text {
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: -0.01em;
}
.radioWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.radio {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 28px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 40px;
  letter-spacing: 0.04em;
  font-style: normal;
  line-height: 19px;
  border: 2px solid var(--btn-bg-another);
}
.radio:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .radio {
    font-size: 20px;
    line-height: 27px;
  }
}
.input {
  display: none;
}
.radio:active,
.radio:hover,
.radio:focus {
  background-color: var(--btn-bg-another);
  color: #fff;
}
.textFildWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
}
.inputText {
  width: 100%;
  height: 40px;
  padding: 12px 14px;
  background: #fdf7f2;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
}
.label {
  margin-bottom: 8px;
}
.submitBtn {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 12px;
}
