.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-size: 20px;
	line-height: 1.35;
	letter-spacing: 0.04em;
}

.addPetWrapper {
	display: flex;
	align-items: center;
}

.addPetTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	font-size: 20px;
	line-height: 1.35;
	color: var(--color-main);
}

.buttonAddPet {
	display: block;
	width: 40px;
	height: 40px;

	margin-left: 15px;

	border-radius: 50%;

	background-color: var(--btn-bg-another);
	background-image: url("../../images/svg/plus.svg");
	background-repeat: no-repeat;
	background-position: center;
	transition: var(--transition);
}

.addPetTitle:hover .buttonAddPet,
.addPetTitle:focus .buttonAddPet {
	transform: scale(1.14);
}

@media screen and (min-width: 768px) {
	.wrapper {
		margin-bottom: 20px;
	}

	.title {
		font-size: 28px;
		line-height: 1.36;
	}
}

@media screen and (min-width: 1280px) {
	.header {
		padding-right: 16px;
	}

	.buttonAddPet {
		margin-left: 20px;
	}
}
