.User {
	padding: 45px 0px 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.title {
	margin-bottom: 18px;
	font-size: 20px;
	line-height: 135%;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--color-main);
}

.userWrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 16px;
	background: var(--modal-bg);
	box-shadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
	border-radius: 20px;
}

@media screen and (min-width: 768px) {
	.User {
		padding: 68px 0px 80px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.userWrap {
		width: 736px;
		padding: 24px 40px 24px 32px;
		border-radius: 0px 40px 40px 0px;
	}

	.title {
		margin-bottom: 40px;
		font-size: 28px;
		line-height: 38px;
	}
}

@media screen and (min-width: 1280px) {
	.User {
		padding: 38px 0px 80px;
		display: flex;
		flex-direction: row;
		gap: 32px;
	}
	.userWrap {
		width: 411px;
		padding: 20px 16px 40px;
	}
	.title {
		margin-bottom: 24px;
	}
}
