.container {
  width: 280px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 336px;
    margin-right: 32px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 394px;
  }
  .container:nth-child(3n + 3) {
    margin-right: 0px;
  }
}

.decor {
  width: 200px;
  height: 4px;
  background: linear-gradient(90deg, #ff634e 0%, #ffdf48 105.44%);
  border-radius: 40px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .decor {
    width: 280px;
    height: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .decor {
    width: 340px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: -0.01em;
  overflow: hidden;

  height: 66px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
}

.containerTitle {
  width: 280px;
}

@media screen and (min-width: 768px) {
  .containerTitle {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .containerTitle {
    width: 395px;
  }
}

.text {
  line-height: 1.37;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #111321;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .text {
    margin-bottom: 40px;
    -webkit-line-clamp: 6;
  }
}

@media screen and (min-width: 1280px) {
  .text {
    -webkit-line-clamp: 5;
  }
}

.date {
  line-height: 1.37;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.6);
}

.containerDataAndReadMore {
  display: flex;
}
.linkNews {
  line-height: 1.37px;
  text-align: right;
  text-decoration-line: underline;
  color: var( --color-another);
  margin-left: auto;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: centers;
}
