@import-normalize; /* bring in normalize.css styles */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html {
	width: 100vw;
	overflow-x: hidden;
}

body {
	/* height: 100%; */
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
:root {
	--color-main: #111111;
	--color-another: #f59256;
	--color-hover-active: #f59256;

	--bg: #fdf7f2;

	--modal-bg: #ffffff;

	--btn-bg-default: #ffffff;
	--btn-bg-another: #f59256;
	--btn-bg-hover-active: #f59256;

	--btn-color: #111111;
	--btn-color-hover-active: #ffffff;

  --transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-link:  #181c27;
  --color-text:  #111321;
  --color-date:  rgba(17, 17, 17, 0.6);
  --color-input:  #ffffff;
  --color-placeholder: #535353; 
  --color-border-input: #ffffff;
  --color-friendCard: #ffffff;
  --color-text-friends: #000000;
}

[data-theme="dark"] {
  --color-main:#fdf7f2;
  --color-another: #f59256;
  --color-hover-active: #f59256;

  --bg: #111111;

  --modal-bg:  #1c1c1c;

  --btn-bg-default: #111111;
  --btn-bg-another: #f59256;
  --btn-bg-hover-active: #f59256;

  --btn-color: #111111;
  --btn-color-hover-active: #ffffff;

  --transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-link: #fdf7f2;
  --color-text:  #DCDCDC;
  --color-date:  rgba(128, 128, 128);
  /* --color-input: #1c1c1c; */
  --color-input:  #111111;
  --color-placeholder: #DCDCDC;
  --color-border-input:  #f59256;
  --color-friendCard: #1c1c1c;
  --color-text-friends: #ffffff;
}

body {
  position: relative;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--bg); 
  color: var(--color-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
